pkg/
*~
TAGS
flymake.sh
refresh_tags.sh
out_rpm/
test_config.yml

# external dependencies
src/github.com/errplane/errplane-go/
src/github.com/cloudfoundry/gosigar/
src/github.com/errplane/gosigar/
src/launchpad.net/goyaml
src/launchpad.net/gocheck
src/code.google.com/p/log4go
src/github.com/bmizerany/pat/
src/github.com/pmylund/go-cache/

# binaries
/config-generator
/agent
/sudoers-generator
/*.test
