[submodule "src/github.com/jmhodges/levigo"]
	path = src/github.com/jmhodges/levigo
	url = https://github.com/jmhodges/levigo
[submodule "src/github.com/garyburd/go-websocket"]
	path = src/github.com/garyburd/go-websocket
	url = https://github.com/garyburd/go-websocket.git
[submodule "src/github.com/errplane/errplane-go-common"]
	path = src/github.com/errplane/errplane-go-common
	url = git@github.com:errplane/errplane-go-common.git
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid.git
