pkg/
*~
/agent
TAGS
*.sh
!build.sh
!exports.sh
!scripts/post_install.sh
!package.sh
out_rpm/
test_config.yml

# external dependencies
src/github.com/errplane/errplane-go/
src/github.com/cloudfoundry/gosigar/
src/launchpad.net/goyaml