pkg/
*~
TAGS
flymake.sh
refresh_tags.sh
test_config.yml

# packaging directories
out_rpm/
package/

# external dependencies
src/github.com/errplane/errplane-go/
src/github.com/cloudfoundry/gosigar/
src/github.com/errplane/gosigar/
src/launchpad.net/goyaml
src/launchpad.net/gocheck
src/code.google.com/p/log4go
src/github.com/bmizerany/pat/
src/github.com/pmylund/go-cache/
src/github.com/howeyc/fsnotify/
src/code.google.com/p/goplan9
src/code.google.com/p/rog-go
src/github.com/nsf/gocode/

# binaries
/config-generator
/agent
/sudoers-generator
**/*.test
bin/gocode
bin/godef
bin/protoc-gen-go
